*{
    margin: 0 ;
    font-family: "Nunito", sans-serif;
}

body{
    background-color: antiquewhite;
    font-size:20px;
}

header {
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #6B4F3B;
    padding: 20px;
}

main{
    width:80%;
    margin:auto;
}

main h1{
    text-align:center;
    font-size:3rem;
    margin-top:20px;
    margin-bottom: 20px;
}

main h2{
    text-align:center;
    color:#6B4F3B;
    font-size:1.3rem;
    margin-bottom:40px;
    font-style:italic;
}

section{
    margin:70px 0;
}

.ProgramminYap{
    width:75%;
    margin:50px auto;
    background:#6B4F3B;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:50px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.3);
}

.ProgramminYap p{
    font-size:1.25rem;
    line-height:1.8;
    width:60%;
}

.ProgramminYap img{
    width:40%;
}

.OtherYap{
    width:70%;
    margin:auto;
}

.OtherYap ul{
    margin-left:30px;
    margin-top:15px;
}

.OtherYap li{
    font-size:1.2rem;
    margin:10px 0;
}

nav{
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    background-color: #6B4F3B;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
    

}

nav a:hover {
    color: #FFD166;
}

.picture {
    text-align: center;
}

.pfp {
    width:220px;
    height:220px;

    object-fit:cover;

    border-radius:50%;

    border:4px solid antiquewhite;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #cfc0b5;
}

footer{
    margin-top:100px;
    padding:20px;
    background:#6B4F3B;
    color:white;
    text-align:center;
}

footer h3{
    background:none;
}